
body {
    background: #f8f9fb;
    color: #4d4d4d;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
}

.scrolled body {
    padding-top: 83px;
}

.scrolled #header {
    background: #fff;
    position: fixed;
    top: 0;
    transition: background 0.3s;
    width: 100%;
    z-index: 100;
    box-shadow: 0 0 25px 0 #ecf3f9;
}

.logo {
    display: inline-block;
}

.headline {
    margin: 40px 0 80px;
    text-align: center;
}

.headline h1 {
    font-size: 40px;
}

.headline p {
    font-size: 18px;
    font-weight: 300;
}

.headline strong {
    font-weight: 500;
}

#login a {
    margin-right: 10px;
}

#login .btn {
    margin-left: 5px;
}

a {
    color: #1976D2;
}

a:hover {
    color: #1565C0;
}

.btn-primary {
    background-color: #1976D2;
    border-color: #1976D2;
}

.btn-primary:hover {
    background-color: #1565C0;
    border-color: #1565C0;
}

/*==========  Icons  ==========*/

@font-face {
    font-family: 'quotation-webfont';
    src:  url('../fonts/quotation-webfont.eot?bsr5sp');
    src:  url('../fonts/quotation-webfont.eot?bsr5sp#iefix') format('embedded-opentype'),
    url('../fonts/quotation-webfont.ttf?bsr5sp') format('truetype'),
    url('../fonts/quotation-webfont.woff?bsr5sp') format('woff'),
    url('../fonts/quotation-webfont.svg?bsr5sp#quotation-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'quotation-webfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #1976D2;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-air-condition:before {
    content: "\e900";
}
.icon-calculator:before {
    content: "\e901";
}
.icon-camera:before {
    content: "\e902";
}
.icon-car-repair:before {
    content: "\e903";
}
.icon-catering:before {
    content: "\e904";
}
.icon-cleaning:before {
    content: "\e905";
}
.icon-dental:before {
    content: "\e906";
}
.icon-laptop:before {
    content: "\e907";
}
.icon-law:before {
    content: "\e908";
}
.icon-paint:before {
    content: "\e909";
}
.icon-tools:before {
    content: "\e90a";
}
.icon-truck:before {
    content: "\e90b";
}



.service-tiles {
    box-shadow: 0 0 25px 0 #ecf3f9;
}

.service-tile-btn {
    background: #fff;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
    color: inherit;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.service-tile-btn:hover {
    background: #fafafa;
}

.service-tile-btn a {
    color: inherit;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    text-decoration: none;
}

.service-tile-btn .fa {
    color: #285da7;
}

.service-tile-btn h5 {
    font-weight: 300;
}

.service-tile-btn .icon {
    margin: 0 auto;
}

.steps {
    counter-reset: step;
    margin-bottom: 20px;
}

.steps > li {
    float: left;
    position: relative;
}

.steps > li > a {
    display: block;
    background: #ebebeb;
    padding: 10px 5px 10px 54px;
    text-decoration: none;
}

.steps > li.current-step > a {
    background: #1976D2;
}

/*==== Step Number ====*/
.steps > li > span {
    color: #ccc;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 19px;
    line-height: 24px;
    display: block;
    text-align: center;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 12px;
    left: 15px;
}

.steps > li.current-step > span {
    color: #fff;
    background: #42A5F5;
    border-color: #fff;
}

.steps > li > a > h4 {
    color: #ccc;
    font-weight: 100;
    line-height: 32px;
    margin: 0;
}

.steps > li.current-step > a > h4 {
    color: #fff;
}

/*==== Arrow ====*/
.steps > li:not(.current-step) > a:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
    border-left: 26px solid #000;
    position: absolute;
    top: 50%;
    margin-top: -26px;
    left: 100%;
    z-index: 2;
}

.steps > li:last-child > a:before {
    content: '';
    display: none;
}

.steps > li > a:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
    border-left: 26px solid #ebebeb;
    position: absolute;
    top: 50%;
    margin-top: -26px;
    left: 100%;
    z-index: 2;
}

.steps > li.current-step > a:after {
    content: '';
    border-left-color: #1976D2;
}

.steps > li:not(:first-child) > a {
    padding-left: 75px;
}

.steps > li:not(:first-child) > span {
    left: 37px;
}

.btn-arrow {
    position: relative;
    border-radius: 0;
    border: none;
    padding-right: 2px;
    line-height: 24px;
}

.btn-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 20px solid #5cb85c;
    position: absolute;
    top: 0;
    right: -20px;
}

.btn.btn-arrow:active,
.btn.btn-arrow:hover,
.btn.btn-arrow:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

.btn.btn-arrow:active:after,
.btn.btn-arrow:hover:after,
.btn.btn-arrow:focus:after {
    content: '';
    border-left-color: #449d44;
}

.btn.btn-arrow:active:hover:after,
.btn.btn-arrow:active:focus:after {
    content: '';
    border-left-color: #398439;
}

.mb-30 { margin-bottom: 30px; }
.pr-20 { padding-right: 20px; }


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    #header .container-fluid,
    #post-job .container-fluid {
        padding: 25px 15px;
    }
    .scrolled #header .container-fluid {
        padding: 10px 15px;
    }
    .service-tile-btn {
        width: 33.33%;
        height: 74px;
    }
    .service-tile-btn a {
        padding-top: 10px;
    }
    .service-tile-btn h5 {
        font-size: 13px;
    }
    .icon-responsive {
        font-size: 2em;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #header .container-fluid,
    #post-job .container-fluid {
        padding: 25px 80px;
    }
    .scrolled #header .container-fluid {
        padding: 10px 80px;
    }
    #services .container {
        width: 800px;
    }
    .service-tile-btn {
        width: 25%;
        height: 140px;
    }
    .service-tile-btn a {
        padding-top: 36px;
    }
    .service-tile-btn h5 {
        font-size: 15px;
    }
    .service-tile-btn:nth-child(4n) { /* 4th, 8th, 12th */
        border-right: 0;
    }
    .service-tile-btn:nth-child(n+9) { /* 9th, 10th, 11th, 12th */
        border-bottom: 0;
    }
    .icon-responsive {
        font-size: 2.77em;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .container {
        width: 800px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .service-tile-btn:nth-child(3n) { /* 3rd, 6th, 9th, 12th */
        border-right: 0;
    }
    .service-tile-btn:nth-child(n+10) { /* 10th, 11th, 12th */
        border-bottom: 0;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}
